@define-color dimmed_color alpha(currentColor, .55);

.recorder-time-label {
  font-size: 32pt;
  font-weight: 300;
}

@keyframes clocks-blink {
  0% { color: @dimmed_color; }
  100% { color: @destructive_color; }
}

.recorder-time-label {
  color: @dimmed_color;
}

.recorder-time-label.paused {
	color: @destructive_color;
	animation-name: clocks-blink;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: 1s;
}

button.large {
  padding: 12px;
}

list row label.title {
  font-weight: bold;
}

list row label.subtitle {
  font-size: smaller;
}

list row {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

list row:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

list row:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

list row:first-child.expanded {
  margin-top:0;
}

list row:last-child.expanded {
  margin-bottom: 0;
}
